In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_excel('Heart Disease.xlsx')
df.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,No,16.60,Yes,No,No,3,30,No,Female,55-59,White,Yes,Yes,Very good,5,Yes,No,Yes
1,No,20.34,No,No,Yes,0,0,No,Female,80 or older,White,No,Yes,Very good,7,No,No,No
2,No,26.58,Yes,No,No,20,30,No,Male,65-69,White,Yes,Yes,Fair,8,Yes,No,No
3,No,24.21,No,No,No,0,0,No,Female,75-79,White,No,No,Good,6,No,No,Yes
4,No,23.71,No,No,No,28,0,Yes,Female,40-44,White,No,Yes,Very good,8,No,No,No

In [3]:
df.isnull().sum()

HeartDisease        0
BMI                 0
Smoking             0
AlcoholDrinking     0
Stroke              0
PhysicalHealth      0
MentalHealth        0
DiffWalking         0
Sex                 0
AgeCategory         0
Race                0
Diabetic            0
PhysicalActivity    0
GenHealth           0
SleepTime           0
Asthma              0
KidneyDisease       0
SkinCancer          0
dtype: int64

In [4]:
df.duplicated().sum()

18078

In [5]:
df.drop_duplicates(inplace=True)

# Data preprocessing

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
le = LabelEncoder()
for col in df.columns:
    if df[col].dtype == 'object':
        df[col] = le.fit_transform(df[col])

In [8]:
df.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,0,16.60,1,0,0,3,30,0,0,7,5,2,1,4,5,1,0,1
1,0,20.34,0,0,1,0,0,0,0,12,5,0,1,4,7,0,0,0
2,0,26.58,1,0,0,20,30,0,1,9,5,2,1,1,8,1,0,0
3,0,24.21,0,0,0,0,0,0,0,11,5,0,0,2,6,0,0,1
4,0,23.71,0,0,0,28,0,1,0,4,5,0,1,4,8,0,0,0

In [9]:
x=df.drop(columns=['HeartDisease'])
y=df['HeartDisease']

# Undersampling

In [10]:
from imblearn.under_sampling import NearMiss

In [11]:
NearMiss_obj = NearMiss()
new_x , new_y = NearMiss_obj.fit_resample(x,y)

In [12]:
new_y.value_counts()

HeartDisease
0    27261
1    27261
Name: count, dtype: int64

In [13]:
df2=pd.DataFrame(new_x)
df2.head()

,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,25.09,1,0,0,0,0,0,1,10,5,0,1,4,8,0,0,0
1,26.61,0,0,0,0,0,0,1,9,5,0,1,4,7,0,0,0
2,25.10,1,0,0,0,0,0,1,10,5,0,1,4,8,0,0,0
3,25.83,0,0,0,0,0,0,1,12,5,0,1,4,8,0,0,0
4,25.80,0,0,0,0,0,0,1,9,5,0,1,4,8,0,0,0

In [14]:
df3=pd.DataFrame(new_y)
df3.head()

   HeartDisease
0             0
1             0
2             0
3             0
4             0

In [15]:
df4=pd.concat([df2,df3],axis=1)
df4

,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer,HeartDisease
0,25.09,1,0,0,0,0,0,1,10,5,0,1,4,8,0,0,0,0
1,26.61,0,0,0,0,0,0,1,9,5,0,1,4,7,0,0,0,0
2,25.10,1,0,0,0,0,0,1,10,5,0,1,4,8,0,0,0,0
3,25.83,0,0,0,0,0,0,1,12,5,0,1,4,8,0,0,0,0
4,25.80,0,0,0,0,0,0,1,9,5,0,1,4,8,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54517,38.45,0,0,1,30,15,1,0,7,3,2,1,3,6,1,0,0,1
54518,36.21,1,0,0,0,0,1,0,11,3,2,1,2,8,0,0,0,1
54519,37.12,1,0,0,0,0,0,1,3,3,0,1,4,7,0,0,0,1
54520,33.20,1,0,0,0,0,0,0,8,3,2,1,4,8,1,0,0,1
54521,27.41,1,0,0,7,0,1,1,8,3,2,0,1,6,1,0,0,1

In [16]:
df4.nunique()

BMI                 2283
Smoking                2
AlcoholDrinking        2
Stroke                 2
PhysicalHealth        31
MentalHealth          31
DiffWalking            2
Sex                    2
AgeCategory           13
Race                   6
Diabetic               4
PhysicalActivity       2
GenHealth              5
SleepTime             22
Asthma                 2
KidneyDisease          2
SkinCancer             2
HeartDisease           2
dtype: int64

In [17]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA

In [18]:
mms = MinMaxScaler()

In [19]:
scale_x = mms.fit_transform(new_x)

In [20]:
pca = PCA(n_components=3)
x_pca = pca.fit_transform(scale_x)

In [21]:
x_pca

array([[-0.28768859, -0.64214355, -0.28182227],
       [-0.67028381,  0.04250501,  0.33397024],
       [-0.28768383, -0.64214441, -0.28181754],
       ...,
       [-0.26159097, -0.65222176, -0.25881069],
       [ 0.27104255,  0.11063409, -0.7877386 ],
       [ 1.21545923, -0.45827178,  0.47163631]])

# Split Dataset into Train and Test

In [22]:
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import r2_score,mean_absolute_error,accuracy_score,mean_squared_error

In [23]:
xtrain,xtest,ytrain,ytest=tts(new_x,new_y,train_size=0.3,random_state=42)

In [24]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC 
from sklearn.ensemble import RandomForestClassifier
import warnings
warnings.filterwarnings("ignore")

In [25]:
def model(model):
    model.fit(xtrain, ytrain)
    y_pred = model.predict(xtest)
    r2 = r2_score(ytest, y_pred)
    mse = mean_squared_error(ytest, y_pred)
    mae = mean_absolute_error(ytest, y_pred)
    acc = model.score(xtest, ytest)
    print(str(model)+ ' --> ' +str(acc))
    print(f"R2 Score: {r2:.4f}")
    print(f"MSE: {mse:.4f}")
    print(f"MAE: {mae:.4f}")

In [26]:
lr = LogisticRegression()
model(lr)

dt = DecisionTreeClassifier()
model(dt)

rf = RandomForestClassifier()
model(rf)

knn =KNeighborsClassifier(n_neighbors= 50)
model(knn)

svm = SVC(kernel='linear')
model(svm)

LogisticRegression() --> 0.8561022899963319
R2 Score: 0.4244
MSE: 0.1439
MAE: 0.1439
DecisionTreeClassifier() --> 0.8046952785201488
R2 Score: 0.2188
MSE: 0.1953
MAE: 0.1953
RandomForestClassifier() --> 0.8398836660902373
R2 Score: 0.3595
MSE: 0.1601
MAE: 0.1601
KNeighborsClassifier(n_neighbors=50) --> 0.8117958392286329
R2 Score: 0.2472
MSE: 0.1882
MAE: 0.1882
SVC(kernel='linear') --> 0.8442854897028769
R2 Score: 0.3771
MSE: 0.1557
MAE: 0.1557

In [27]:
from sklearn.metrics import classification_report

In [28]:
pred_lr=lr.predict(xtest)
pred_dt = dt.predict(xtest)
pred_knn = knn.predict(xtest)
pred_svm=svm.predict(xtest)
pred_rf = rf.predict(xtest)

In [29]:
print("Report of Logistic Regression:\n\n",classification_report(ytest, pred_lr))
print("Report of Knearest Neighbour Classificaiton:\n\n",classification_report(ytest, pred_knn))
print("Report of Support Vector Machine Classification:\n\n",classification_report(ytest, pred_svm))
print("Report of Random Forest Classification:\n\n",classification_report(ytest, pred_rf))
print("Report of Decision Tree:\n\n",classification_report(ytest, pred_dt))

Report of Logistic Regression:

               precision    recall  f1-score   support

           0       0.81      0.94      0.87     18993
           1       0.92      0.78      0.84     19173

    accuracy                           0.86     38166
   macro avg       0.87      0.86      0.86     38166
weighted avg       0.87      0.86      0.86     38166

Report of Knearest Neighbour Classificaiton:

               precision    recall  f1-score   support

           0       0.73      0.99      0.84     18993
           1       0.98      0.64      0.77     19173

    accuracy                           0.81     38166
   macro avg       0.85      0.81      0.81     38166
weighted avg       0.85      0.81      0.81     38166

Report of Support Vector Machine Classification:

               precision    recall  f1-score   support

           0       0.79      0.93      0.86     18993
           1       0.92      0.76      0.83     19173

    accuracy                           0.84     38166
   macro avg       0.85      0.84      0.84     38166
weighted avg       0.85      0.84      0.84     38166

Report of Random Forest Classification:

               precision    recall  f1-score   support

           0       0.82      0.87      0.84     18993
           1       0.86      0.81      0.84     19173

    accuracy                           0.84     38166
   macro avg       0.84      0.84      0.84     38166
weighted avg       0.84      0.84      0.84     38166

Report of Decision Tree:

               precision    recall  f1-score   support

           0       0.80      0.81      0.80     18993
           1       0.81      0.80      0.80     19173

    accuracy                           0.80     38166
   macro avg       0.80      0.80      0.80     38166
weighted avg       0.80      0.80      0.80     38166

# Gradio deployment

In [30]:
df4.head()

,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer,HeartDisease
0,25.09,1,0,0,0,0,0,1,10,5,0,1,4,8,0,0,0,0
1,26.61,0,0,0,0,0,0,1,9,5,0,1,4,7,0,0,0,0
2,25.10,1,0,0,0,0,0,1,10,5,0,1,4,8,0,0,0,0
3,25.83,0,0,0,0,0,0,1,12,5,0,1,4,8,0,0,0,0
4,25.80,0,0,0,0,0,0,1,9,5,0,1,4,8,0,0,0,0

In [31]:
import gradio as gr

In [32]:
def heart(BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer):
    
    HeartDisease = lr.predict([[BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer]])
    return HeartDisease

In [33]:
interface = gr.Interface(
  fn = heart, 
  inputs = ['number','number','number','number','number','number','number','number','number',
            'number','number','number','number','number','number','number','number'],
  outputs = ['text']  


).launch(share=False)

Running on local URL:  http://127.0.0.1:7860

To create a public link, set `share=True` in `launch()`.

In [34]:
import joblib as jb
jb.dump(lr, "model.pkl")

['model.pkl']

In [36]:
model = jb.load("model.pkl")

In [37]:
model.predict([[30.54,0,1,0,1,0,0,1,6,5,0,1,0,7,0,1,0]])

array([1])